<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/header.ejs %>

    <h1 class="title"><%= title %></h1>
    <p>Here, Admin manages the customers' orders </p>
    <p>
      Admin can accept or decline an order. 
      Admin can also mark an order as complete or incomplete
    </p>

</body>
</html>
