<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <% include templates/header.ejs %>

  <h1 class="title"><%= title %></h1>
  <p>
    Please sign in, or click <a href="/signup">here</a> to register.
  </p>
</body>
</html>
