<!DOCTYPE html>
<html>
<head>
  <title>sign in</title>
  <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>
<body>
    <div class="login-page">
        <div class="form">
          <p id="error"><%=error%></p>
            <form class="register-form" method="POST" action="" name="login">
                <input type="text" name="userName" id="userName" placeholder="user name" required/>
                <input type="password" name="password" id="password" placeholder="password" minlength="6" maxlength="20" required/>
                <input type="tel" name="telephone" id="telephone" placeholder="telephone" list="defaultTels" required/>
                <datalist id="defaultTels">
                <option value="0806 3550 695">
                <option value="+234802350811">
                <option value="333-3333-3333">
                <option value="344-4444-4444">
                </datalist>
                <input type="email" name="email" placeholder="email" />
                <button id="signUp">Register</button>
                <% if(registered) { %>
                <p id="msg"><strong>Successfully Registered! </strong></p>
                <p id="msg"> you can now <a href="/signin">sign in</a></p>
                <%} else { %>
                <p class="message">I have an account? <a href="/signin">sign in</a></p>
                <%}%>
            </form>
        </div>
    </div>
    <!-- <script type="text/javascript" src="js/script.js"></script> -->
</body>
</html>
