<!DOCTYPE html>
<html>
<head>
  <title>sign in</title>
  <link rel='stylesheet' href='/stylesheets/signin.css' />
</head>
<body>

  <div class="login-page">

       <div class="form">
         <% if(error != "") {%>
           <p id="error"> <%= error %> </p>
         <% } %>

           <!-- <form class="signin-form" method="POST" action="homePage.html" name="login"> -->
           <form class="signin-form" method="POST" action="" name="signin">
               <input type="text" name="userName" id="userName" placeholder="user name" maxlength="20" required/>
               <input type="password" name="password" id="password" placeholder="password" maxlength="20", minlength="6" required/>
               <button id="login">sign in</button>
               <!-- <input type="submit" value="sign in" /> -->
               <p class="message">Don't have an account? <a href="/signup">sign up</a></p>
           </form>
       </div>
   </div>

</body>
</html>
