<a href="/">Home</a> |
<a href="/menu">Our Menu</a> |
<a href="/order">Place Order</a> |
<a href="/orderHistory">Order History</a> |
<a href="/manageOrders">Manage Orders</a> |
<a href="/signin">signin</a>
